@import "formating";

.contact{
    height: 100vh;
}

.contact a{
    display: flex;
    justify-content: center;
}

.contact img{
    height: 10em;
    width: 10em;
}


.contact-content{
    background: rgba(54, 44, 117, 0.9);
    color: $white;
    margin: auto;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-bottom: 5%;
    margin-top: 5%;
    max-width: 80%;
    border-radius: 5%;
}

.contact-content h2{
    text-align: center;
}

.contact-content p{
    text-align: center;
}