@import "formating";

.projects{
    height: auto; 
}

.projects-content a img{
  height: 7em;
  width: 7em;
  padding: 0.25em;
}

.svg img{
  height: 4em;
  width: 4em;
}



.projects-content{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  list-style: none;
  color: $white;
  
}

.projects-content li{
  border-radius: 5%;
  background: rgba(54, 44, 117, 0.97);
  padding: 5%;
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: center;
}







